.company-list-item {
  @apply grid gap-2 w-full overflow-hidden h-full p-3 bg-slate-50 rounded-lg shadow-md items-center hover:bg-slate-100 hover:shadow-lg transition-colors duration-300;
  grid-template-columns: 40px minmax(calc(100% - 40px - 80px - 24px), 1fr) 80px;
  @media (min-width: 768px) {
    grid-template-columns: 40px 4fr 1fr;
  }
}

.company-list-item__content {
  @apply flex flex-col gap-2 w-full text-ellipsis md:grid md:items-center;
  @media (min-width: 768px) {
    grid-template-columns: 150px 1fr 1fr;
  }
}

.company-list-item__name {
  @apply text-xl font-bold;
}

.company-list-item__industry {
  @apply text-ellipsis overflow-hidden line-clamp-2 uppercase text-sm md:line-clamp-1;
}

.company-list-item__country {
  @apply text-center text-ellipsis md:text-left;
}
