@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode (default) */
:root {
  --color-bg: #ffffff;
  --color-text: #474554;
  --color-primary: #646cff;
  --color-primary-hover: #555dfe;
  --color-primary-active: #323dff;
  --color-accent: #009a68;
  --color-accent-hover: #00aa72;
  --color-accent-active: #00885b;
}

/* Dark mode */
.dark {
  --color-bg: #242424;
  --color-text: #faf8ff;
  --color-primary: #8685ef;
  --color-primary-hover: #6968eb;
  --color-primary-active: #4c4ae7;
  --color-accent: #2cacbd;
  --color-accent-hover: #59c9d8;
  --color-accent-active: #3dc0d2;
}

body {
  @apply bg-background text-foreground transition-colors duration-300;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-bg);
}
