@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode (default) */
:root {
  --color-bg: #ffffff;
  --color-text: #213547;
  --color-primary: #646cff;

}

/* Dark mode */
.dark {
  --color-bg: #242424;
  --color-text: rgba(255, 255, 255, 0.87);
}

body {
  @apply bg-background text-foreground transition-colors duration-300;
}
